body {
  
    font-family: sans-serif;
    color: black;
    margin: 20px;
  
  }
  
  h1 {
    text-align: center;
    color: #333;
    background-image: url(imagen/descargafwd.png);
    
  }
  
  #tabla {
    background-color: #96dbe0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px black; 
  }
  
  label {
    display: block; 
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #40E0D0;
    border-radius: 4px;
    box-sizing: border-box; 

  }
  
  button {
    background-color: #40E0D0; 
    border: none;
    border-radius: 2px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #42c8d1; 
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  
    
  