body {
    font-family: sans-serif;
    margin: 20px;
    
  }
  
  #ticket, #consultas {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #42c8d1;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"], textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #40E0D0;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover {
    background-color: #42c8d1; 
}
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    border: 1px solid #eee;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
  }
  
  .li.atendido {
    background-color: #e0f7fa; 
  }